
.list-content{display:block; position: relative;width:100%; min-height:450px;float:left; margin:0 auto; background-color:#fff; /*background-image: url(../images/line.jpg);*/ background-repeat:no-repeat;}

